<div class="container">
  <aside>
     <app-sidebar></app-sidebar>
  </aside>
 
</div>
<div class="EmpInfo">
  <div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Employee Details</a>
      </div>
  </nav>

   
    <table class="table table-bordered">
      <thead class="table table-bordered table-dark">
        <tr>
          <th scope="col">User Id</th>
            <th scope="col">User Name</th>
            <th scope="col">Password</th>
            <!-- <th scope="col">Organization Name</th> -->
            <th scope="col">Organization Number</th>
            <th scope="col">Email</th>
            <th scope="col">Gender</th>
            <th scope="col">Date of Birth</th>
            <th scope="col">Contact Number</th>
            <th scope="col">City</th>
            <th scope="col">Designation</th>
            <th scope="col">Pan Number</th>
            <th scope="col">Status</th>
            <th scope="col">Response</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let emp of empList">
          <td>{{ emp.userId }}</td>
            <td>{{ emp.username }}</td>
            <td>{{ emp.password }}</td>
            <!-- <td>{{ emp.orgname }}</td> -->
            <td>{{ emp.organizationNumber }}</td>
            <td>{{ emp.employeeEmail }}</td>
            <td>{{ emp.gender }}</td>
            <td>{{ emp.dateOfBirth }}</td>
            <td>{{ emp.contactNumber }}</td>
            <td>{{ emp.city }}</td>
            <td>{{ emp.designation }}</td>
            <td>{{ emp.panNumber }}</td>
            <!-- <td>{{ emp.status }}</td> -->
          <td>
            <div class="btn-group" (click)="onButtonGroupClick($event)">
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                
                
                <label class="switch">
                  <input type="checkbox" checked>
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
          </td>
          <td>
             <button  class="btn btn-primary"  (click)="viewResponse()">View Response</button>
          </td>
        </tr>         
      </tbody>
    </table>

</div>
</div>