<div class="container">
    <aside>
       <app-sidebar></app-sidebar>
     </aside>
   
  </div>
<div class="SurveyResponses">
    <div><b>NOTE: For text answers, please view individual responses.</b></div>
    <br>
    <div class="row">
        <div class="Q2 col">
            <h3>Question 2:Which insurance policy benefits are u aware of?</h3>
            <app-question2-summary></app-question2-summary>
        </div>
        <div class="Q3 col">
            <h3>Question 3:What do you think about the learning and dev....</h3>
           <app-question3-summary></app-question3-summary>
        </div>
    </div>
        <div class="row">
            <div class="Q5 col">
                <h3>Question 5:What do you think about the cab facility in ...</h3>
                <app-question5-summary></app-question5-summary>
            </div>
            <div class="Q7 col">
                <h3>Question 7:How do you prefer to receive feedback about you..</h3>
                <app-question7-summary></app-question7-summary>
            </div>
        </div>
        <div class="row">
            <div class="Q8 col">
                <h3>Question 8:What are you feeling about the company direction?</h3>
                <app-question8-summary></app-question8-summary>
            </div>
            <div class="Q9 col">
                <h3>Question 9:What do you love the most about your job currently?</h3>
                <app-question9-summary></app-question9-summary>
            </div>
            <div class="row">
                <div class="Q10 col">
                    <h3>Question 10:What Do you feel that our contribute to the companys goals?</h3>
                    <app-question10-summary></app-question10-summary>
                </div>
                
        </div>
    
       
    </div>
    
   
