<div
class="Heading"
role="banner"
style="
  position: absolute;

  top: 0;

  left: 0;

  right: 0;

  height: 60px;

  display: flex;

  align-items: center;

  background-color: #1976d2;

  color: white;

  font-weight: 600;

  text-align: center;
"
>
<span>Welcome to Capstone Project</span>
</div>
<section class="vh-100">
<div class="container py-5 h-100">
  <h2 style="margin-left: 100px; margin-top: 15px">Employee Login</h2>
  <div class="row d-flex align-items-center justify-content-center h-100">
    <div class="col-md-8 col-lg-7 col-xl-6">
      <img
        src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
        class="img-fluid"
        alt="Phone image"
      />
    </div>
    <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <!-- Email input -->
        <div class="form-group">
        <div class="form-outline mb-4">
          <input
            type="text"
            id="form1Example13"
            class="form-control form-control-lg"
            name="username"
            formControlName="username"
          />
          <label class="form-label" for="form1Example13" for="username">Username</label>
        </div>
       </div>

        <!-- Password input -->
        <div class="form-group">
        <div class="form-outline mb-4">
          <input
            type="password"
            id="form1Example23"
            class="form-control form-control-lg"
            name="password"
            formControlName="password"
          />
          <label class="form-label" for="form1Example23" for="password">Password</label>
        </div>
        </div>

        <!-- Submit button -->
        <div class="form-group">
        <button type="submit" class="btn btn-primary btn-lg btn-block">
          Sign in
        </button>
        </div>

        <div class="divider d-flex align-items-center my-4">
          <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
        </div>
      </form>
      <button class="btn btn-secondary btn-lg" (click)="adminlogin()">
       Login as Admin
     </button>
    </div>
  </div>
</div>
</section>