
    
<!-- </div>
<div class="sidebar">
<button type="button" class="btn " data-bs-toggle="modal" (click)="OrgInfo()">Organisation Details</button>
<br>
<button type="button" class="btn btnLogout " data-bs-toggle="modal" (click)="OrgInfo()">Logout</button>
</div> -->

<div class="sidebar">
    <div><button type="button" class="btn " data-bs-toggle="modal" (click)="SurveySummary()" Selected>Summary</button></div>
    <div><button type="button" class="btn " data-bs-toggle="modal" (click)="OrgInfo()">Organisations</button></div>
   
        
      <div> <button type="button" class="btn  " data-bs-toggle="modal" (click)="OrgInfo()">Logout</button></div>
  
    </div>
    
    
    