<div class="container">
    <aside>
       <app-sidebar></app-sidebar>
    </aside>
   
  </div>
<div class="viewResponse">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Amit's Response</a>
            </div>
        </nav>
    
        <table class="table table-striped table-bordered ">
    <thead>
        <tr>
            <th>Question</th>
            <th>Response</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>What do you think about our company culture?</td>
            <td>Excellent</td>
        </tr>
        <tr>
            <td>What do you think about payroll?</td>
            <td>Good</td>
        </tr>
        <tr>
            <td>What do you think about our company benfites regarding insurance?</td>
            <td>Excellent</td>
        </tr>
        <tr>
            <td>What do you think about our company infrastructure?</td>
            <td>good</td>
        </tr>
        <tr>
            <td>What do you think about the cab facility in our company?</td>
            <td>Very Good</td>
        </tr>
    </tbody>
        </table>
        </div>
</div>