<h2>Welcome to Admin portal</h2>
<table>
    <label for="uname">Username</label>
    <br>
    <input type="text" placeholder="enter your username" id="uname" [(ngModel)]="username" name="username" required>
    <br>
    <label for="pass">Password</label>
    <br>
    <input type="text" placeholder="enter password"id="pass"[(ngModel)]="password" type="password" name="password" required>
    </table>
<button type="button" (click)="login()">AdminLogin</button>
<button type="button" (click)="emplogin()">EmplLogin</button>
